@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
body {
  background-color: #202020;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  place-items: center;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: #FFEE32;
  font-family: 'Chakra Petch', sans-serif;
}

p {
  // font-family: "Alata", sans-serif;
  font-family: 'Didact Gothic', sans-serif;
  color: #d6d6d6;
  font-weight: 400;
}

.different {
  font-family: 'Didact Gothic', sans-serif;
}

button {
  background-color: #ffd100;
  border: none;
  color: #333533;
  font-family: "Didact Gothic", sans-serif;
  padding: 5px;
}

span {
  color: #EE3625;
}